.bg-table {
    background-color: #f5f5f5;
}

.bg-row:hover {
    background-color: rgba(0, 110, 38, 0.3);
}

.content {
    margin-top: 50px; /* Espacio suficiente para que el contenido no se oculte detrás del navbar */
    margin-bottom: 50px; /* Espacio suficiente para que el contenido no se oculte detrás del footer */
    background-color: #f1f1f1;
    height: calc(100vh - 350px); /* Ajusta la altura para no crear scroll innecesario */
    overflow-y: auto; /* Permite scroll si el contenido es muy largo */
}

.table-height {
    max-height: 618px;
}