@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #f3f4f6;
    background-size: cover;
}

.main-container {
    display: flex;
    flex-direction: column;
    /* Altura mínima de 100% del viewport */
    min-height: 100vh;
}

.bg-color-td {
    /* Color de fondo */
    background-color: #006E26;
    padding: 10px 20px;
}

.bg-color-sec {
    /* Color de fondo */
    padding: 10px 20px;
}

.content {
    /* Ajusta la altura para no crear scroll innecesario */
    height: calc(100vh - 350px);
    /* Permite scroll si el contenido es muy largo */
    overflow-y: auto;
}

.icon-eye {
    min-width: 20px;
    min-height: 20px;
}